* {
  margin: 0;
  padding: 0;
} 

.slider {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background: red;
  overflow: hidden;
}
.capa {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform: translateY(0vh);
  transition: all 0.5s;
 }
 .capa-1 {
  background: royalblue;
  background-image: url(https://images.pexels.com/photos/712521/pexels-photo-712521.jpeg);
  background-size:auto 100%; 
  background-position: center;
 }
 .capa-2 {
  background: yellowgreen;
  background-image: url(https://images.pexels.com/photos/712521/pexels-photo-712521.jpeg);
  background-size:auto 100%; 
  background-position: center;
 }

 .capa-3 {
  background: plum;
  background-image: url(https://images.pexels.com/photos/712521/pexels-photo-712521.jpeg);
  background-size:auto 100%; 
  background-position: center;
 }
 .capa-4 {
  background: aquamarine;
  background-image: url(https://images.pexels.com/photos/712521/pexels-photo-712521.jpeg);
  background-size:auto 100%; 
  background-position: center;
 }
 .capa-5 {
  background: yellow;
  background-image: url(https://images.pexels.com/photos/712521/pexels-photo-712521.jpeg);
  background-size:auto 100%; 
  background-position: center;
 }
 .to-top {
   transform: translateY(100vh)
 }
 .to-bottom {
  transform: translateY(-100vh)
}
.bg-sz-110 {
  background-size:auto 110%!important;
}